.admin-orders{
  padding:40px;
}

.admin-orders h2{
  margin-bottom:20px;
  color:#0e2b66;
}

/* Table */
table{
  width:100%;
  border-collapse:collapse;
  background:white;
  border-radius:12px;
  overflow:hidden;
}

table th, table td{
  padding:14px 18px;
}

table thead{
  background:#0e2b66;
  color:white;
}

tbody tr:nth-child(even){
  background:#f4f6fc;
}
