.login-page{
  padding:80px 20px;
  display:flex;
  justify-content:center;
}

.login-card{
  width:400px;
  padding:40px;
  background:#f4f7ff;
  border-radius:14px;
  text-align:center;
  box-shadow:0px 4px 10px rgba(0,0,0,.08);
}

.login-card h2{
  margin-bottom:12px;
  color:#0e2b66;
}

.login-card p{
  color:#60728c;
  margin-bottom:22px;
}

.login-card input{
  width:100%;
  padding:15px;
  margin-bottom:18px;
  border:1px solid #cfd4e7;
  border-radius:8px;
}

.login-card button{
  padding:12px 24px;
  background:#0e2b66;
  color:white;
  border-radius:8px;
  cursor:pointer;
  border:none;
}

.error{
  margin-top:10px;
  color:red;
}
