.navbar{
  background:#0f2f6e;
  color:white;
  padding:18px 70px;
  display:flex;
  align-items:center;
  justify-content:space-between;
}

/* LEFT */
.nav-left{
  display:flex;
  align-items:center;
  gap:10px;
}

.nav-left img{
  width:36px;
  height:36px;
  object-fit:contain;
}

.brand{
  font-size:22px;
  font-weight:600;
}

/* RIGHT MENU */
.nav-right{
  display:flex;
  gap:40px;
  font-size:17px;
}

.nav-right a{
  color:white;
  text-decoration:none;
  transition:.3s;
}

.nav-right a:hover{
  opacity:.8;
}
