.order-page{
  display:flex;
  gap:60px;
  padding:70px;
}

.order-left h2{
  font-size:32px;
  color:#0e2b66;
}

.order-left p{
  margin-top:10px;
  font-size:15px;
  color:#577;
}

.order-left h3{
  margin-top:12px;
  color:#0e2b66;
}

/*** right form ***/
.order-right{
  background:#f7f8fe;
  padding:35px 40px;
  border-radius:16px;
  width:480px;
}

.order-right h2{
  margin-bottom:20px;
  color:#0e2b66;
}

.order-form{
  display:flex;
  flex-direction:column;
  gap:14px;
}

.order-form input{
  padding:12px;
  border:1px solid #cfd4e7;
  border-radius:8px;
}

.order-right button{
  margin-top:8px;
  padding:10px;
  border:none;
  background:#0e2b66;
  color:white;
  border-radius:8px;
  cursor:pointer;
}
